p {
	color: rgb(0, 0, 0);
	padding-left: 150px;
	width: 200px;
	text-align: center;
  }
body {
	background-image: url(fon1.jpg);
	text-shadow: 0px 4px 10px rgba(0, 162, 255, 0.8);
}
h1 {
	padding: 15px;
	margin-bottom: -70px;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(255, 255, 255);
	text-shadow: 0px 4px 10px rgba(112, 117, 180, 0.8)
}
h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: rgba(77, 98, 192, 0.5);
	color: #ffffff;
}
.menu-main {
	list-style: none;
	margin: 40px 0 5px;
	padding: 52px 0 17px;
	text-align: center;
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
	content: "|";
	color: #008cff;
	display: inline-block;
	vertical-align:top;
	font-size: 25px;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
	text-decoration: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: 0px;
	position: relative;
	padding-bottom: 20px;
	margin: 0 45px 0 30px;
	font-size: 25px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .2s;

  }
  .menu-main a, .menu-main a:visited {color: #fcfcff;}
  .menu-main a.current, .menu-main a:hover{color: #b89fe6;}
  .menu-main a:before,
  .menu-main a:after {
	content: "";
	position: absolute;
	height: 4px;
	right: 50%;
	bottom: 15px;
	left: 50%;
	background: #f8f8f8;
	transition: .8s;
  }
  .menu-main a:hover:before, .menu-main .current:before {left: 0;}
  .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
  @media (max-width: 550px) {
  .menu-main {padding-top: 4px;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
	padding: 34px 0 20px; 
	margin: 0 30px;
  }}